$breakpoint-s: 320px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;


// colors
$primary-color: #316dc2;
$white: #ffffff;
$font-main: "Manrope", sans-serif;
$background-color: #f0efe9;
$font-grey: #484848;
